.DS_Store
/node_modules/

# React Router
/.react-router/
/build/
.env

# audio binary files
/uploads

__pycache__/
*.pyc

# deid
/deid/run/
/deid/transcripts/
/deid/predictions.jsonl
/deid/test.jsonl

# scratch files
scratch.*


drizzle.db

.zed/
